doctype html
html(ng-app='roteiroApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    base(href="/")
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-route/angular-route.min.js')
    script(src='/libs/angular-resource/angular-resource.min.js')
    script(src='http://maps.google.com/maps/api/js')
    script(src='/libs/ngmap/build/scripts/ng-map.min.js')

    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
  body(role='document')
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href="/") Roteiro

        ul.nav.navbar-nav
          li
            a(href="/") Home

    div.container(role="main")
        block content