include ../../menu.jade

section.container.pages
  ol.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/admin") Admin
    li
      a(href="/admin/location") Localidades
    li {{ location.name }}
    li.active Passeios

  a(href="/admin/location/{{ location._id }}/place/create") Cadastrar novo passeio

  table.table
    thead
      tr
        th Nome
    tbody
      tr(ng-repeat="place in location.places")
        td {{ place.name }}
        td
          a(href="/admin/location/{{ location._id }}/place/{{ place._id}}/edit") Alterar