ol.breadcrumb
  li
    a(href="/") Home
  li
    a(href="/location/{{ location._id }}") {{ location.name }}
  li.active Roteiro: {{ location.itineraries[0].name }}

.panel.panel-default
  .panel-body
    .row
      .photo.col-md-3
        img.img-responsive(src="images/location/{{ location._id }}_1.jpg")
      .col-md-9
        .title
          h2 {{ location.name }}, {{ location. country }}
        .description {{ location.description }}

    .row
      .col-md-12
        .itineraries
          h3 Roteiro: {{ location.itineraries[0].name }}
          .row
            .col-md-3(ng-repeat="day in location.itineraries[0].days")
                div
                  h4 Dia {{ day.number }}

                .list-group(ng-show="day.morning.length > 0")
                  .list-group-item.active Manhã
                  .list-group-item(ng-repeat="place in day.morning")
                    .row
                      .col-md-9(style="height: {{ (place.duration * 0.4) + (((place.duration / 60) - 1) * 10) + ((place.duration / 60) - 1) }}px") {{ place.name }}
                      .col-md-3
                        span.badge(ng-if="place.duration && place.duration > 0") {{ place.duration / 60 + "h" }}

                .list-group(ng-show="day.lunch.name")
                  .list-group-item.active Almoço
                  .list-group-item {{ day.lunch.name }}

                .list-group(ng-show="day.afternoon.length > 0")
                  .list-group-item.active Tarde
                  .list-group-item(ng-repeat="place in day.afternoon")
                    .row
                      .col-md-9(style="height: {{ (place.duration * 0.4) + (((place.duration / 60) - 1) * 10) + ((place.duration / 60) - 1) }}px") {{ place.name }}
                      .col-md-3
                        span.badge(ng-if="place.duration && place.duration > 0") {{ place.duration / 60 + "h" }}

                .list-group(ng-show="day.dinner.name")
                  .list-group-item.active Jantar
                  .list-group-item {{ day.dinner.name }}

                .list-group(ng-show="day.night.length > 0")
                  .list-group-item.active Noite
                  .list-group-item(ng-repeat="place in day.night")
                    .row
                      .col-md-9(style="height: {{ (place.duration * 0.4) + (((place.duration / 60) - 1) * 10) + ((place.duration / 60) - 1) }}px") {{ place.name }}
                      .col-md-3
                        span.badge(ng-if="place.duration && place.duration > 0") {{ place.duration / 60 + "h" }}

    map(center="{{ location.itineraries[0].mapCenter[0] }}, {{ location.itineraries[0].mapCenter[1] }}", zoom="{{ location.itineraries[0].mapZoom }}")
      marker(ng-repeat="marker in markers", id="m{{ $index }}", position="{{ marker.loc[0] }}, {{ marker.loc[1] }}", title="{{ marker.name }}", on-click="showInfoWindow(event, 'i{{ $index }}')")
      info-window(ng-repeat="marker in markers", id="i{{ $index }}", visible-on-marker="m{{ $index }}")
        div {{ marker.name }}