form(ng-submit="executeSearch()")
  .input-group
    input.form-control(type="text", ng-model="search.text", placeholder="Pesquisar")
    span.input-group-btn
      button.btn.btn-default(type="submit")
        span.glyphicon.glyphicon-search

ul#locations
  li(ng-repeat="location in locations")
    .panel.panel-default
      .panel-body
        .row
          .photo.col-md-3
            img.img-responsive(src="images/location/{{location._id}}_1.jpg")
          .col-md-9
            .title
              h2 {{ location.name }}, {{ location. country }}
            .description {{ location.description }}

            .itineraries Roteiros:
              ul
                li(ng-repeat="it in location.itineraries")
                  a(href="javascript: void(0)", ng-click="getItinerary(it._id)") {{ it.name }}